<ul nz-menu [nzMode]="'horizontal'" style="margin-bottom: 20px">
  <li
    nz-menu-item
    routerLinkActive="ant-menu-item-selected"
  >
    <a routerLink="">
      <i class="anticon anticon-home"></i>
    </a>
  </li>
  <li
    nz-menu-item
    routerLinkActive="ant-menu-item-selected"
  >
    <a routerLink="diff">
      <i class="anticon anticon-line-chart"></i>
      Дифференциатор
    </a>
  </li>
  <li
    nz-menu-item
    routerLinkActive="ant-menu-item-selected"
  >
    <a routerLink="vk">
      <i class="anticon anticon-mobile"></i>
      VK
    </a>
  </li>
  <li
    nz-menu-item
    routerLinkActive="ant-menu-item-selected"
    style="float: right"
    *ngIf="!isLogged()"
  >
    <a (click)="login()" disabled="true">
      <i class="anticon anticon-login" style="color: green"></i>
    </a>
  </li>
  <li
    nz-menu-item
    routerLinkActive="ant-menu-item-selected"
    style="float: right"
    *ngIf="isLogged()"
  >
    <a (click)="logout()" disabled="true">
      <i class="anticon anticon-logout" style="color: red"></i>
    </a>
  </li>
</ul>
