<ul nz-menu [nzMode]="'horizontal'" style="margin-bottom: 20px">
  <li
    nz-menu-item
    routerLinkActive="ant-menu-item-selected"
  >
    <a routerLink="">
      <i class="anticon anticon-home"></i>
    </a>
  </li>
  <li
    nz-menu-item
    routerLinkActive="ant-menu-item-selected"
  >
    <a routerLink="diff">
      <i class="anticon anticon-line-chart"></i>
      Дифференциатор
    </a>
  </li>
  <li
    nz-menu-item
    routerLinkActive="ant-menu-item-selected"
    style="float: right"
  >
    <a routerLink="settings">
      <i class="anticon anticon-setting"></i>
    </a>
  </li>
</ul>
