<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="20">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <input
          type="text"
          nz-input [nzSize]="'large'"
          placeholder="Введите функцию"
          [ngModel]="func"
          (ngModelChange)="funcChange($event)"
          style="width: 88%"
        >
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="diff()">DIFF</button>
        <nz-alert style="margin-top: 5px" *ngFor="let err of errors" [nzType]="'error'" [nzMessage]="err"></nz-alert>
      </div>
      <div nz-col [nzSpan]="12"></div>
    </div>
  </div>
</div>
