<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="20">
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <input
          type="text"
          nz-input [nzSize]="'large'"
          placeholder="Введите функцию"
          (keypress)="_keyPress($event)"
          [ngModel]="func"
          (ngModelChange)="funcChange($event)"
          style="width: 88%"
        >
        <button
          nz-button
          [nzType]="'primary'"
          [nzSize]="'large'"
          (click)="diff()"
          [disabled]="errors.length !== 0 || func === ''"
        >DIFF</button>
        <nz-alert style="margin-top: 5px" *ngFor="let err of errors" [nzType]="'error'" [nzMessage]="err"></nz-alert>
        <!--<div style="margin-top: 15px">-->
          <!--<span style="font-size: 16px; border: 1px solid black; border-radius: 1000px; padding: 5px; margin-right: 2px"-->
                <!--*ngFor="let term of terms">{{ term.view + " " }}</span>-->
        <!--</div>-->
      </div>
      <div nz-col [nzSpan]="12"></div>
    </div>
  </div>
</div>
